.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.container-calculadora{
    display: grid;
    grid-template-columns: 1fr;
    /* padding-right: 40%; */
    gap: 20px;
    background-color: rgb(53, 53, 80);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding-top: 40px;
    margin: auto;
}

.texto{
    color: white;
    text-align: center;
    margin: 0;
}
.container-resultado{
    padding: 10%;
    background-color:white;
    border: #000000 solid;
    width: 400px;
    height: 200px;

}
.pad-numerico{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.boton-pad{
    font-size: 20px;
    background-color:lightgrey;
    border-radius: 10px;
    border: 2px #000000 solid;
    margin: 1px;
}

.boton-pad:hover{
    background-color: rgb(113, 113, 113);
    color: white;
}

#pantalla-1{
    background-color: #849b84;
    opacity: .7;
    margin: 10px;
    font-size: 30px;
    text-align: end;
}

#pantalla-2{
    background-color: #849b84;
    opacity: .7;
    margin: 10px;
    font-size: 30px;
    text-align: end;
}

.ticket{
    text-align: center;
    margin: 0;
}

#propina{
    margin-top:  50px;
}


